<a href="https://colab.research.google.com/github/VemulaRajkumar/HTML/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [4]:
!ls "/content/drive/My Drive"

'Apps and Links'  'Colab Notebooks'  "Raj's photos"
 Classroom	  'college files '

In [7]:
import pandas as pd
df=pd.read_csv('/content/drive/My Drive/Colab Notebooks/addresses.csv')

In [8]:
df.head()

                    John       Doe  ...   NJ  08075
0                   Jack  McGinnis  ...   PA   9119
1          John "Da Man"    Repici  ...   NJ   8075
2                Stephen     Tyler  ...   SD  91234
3                    NaN  Blankman  ...   SD    298
4  Joan "the bone", Anne       Jet  ...   CO    123

[5 rows x 6 columns]